/* ==========================================================================
   #LINKS
   ========================================================================== */

a {
  color: inherit;

  &:visited,
  &:active {
    color: inherit;
  }

  &:hover {
    color: #BADA55;
  }

  &:focus {
    outline: none;
  }
}
